@{
    ViewBag.IsLoggedOut = true;
    var appBaseUrl = configuration["AppBaseUrl"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - UserManagementApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/app.css"/>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/> *@
    <link rel="stylesheet" href="~/lib/toastr/css/toastr.min.css"/>
    <link rel="stylesheet" href="~/lib/sweet-alert-2/css/sweetalert2.min.css"/>
    <link rel="stylesheet" href="~/UserManagementApp.styles.css" asp-append-version="true"/>
</head>
<body class="bg-gray-100 text-gray-800 flex flex-col min-h-screen">
<header>
    <nav class="bg-white shadow-md">
        <div class="container mx-auto px-4 py-4 flex items-center justify-between">
            <a class="text-xl font-semibold text-blue-600" asp-area="" asp-controller="Home" asp-action="Index">UserManagementApp</a>
            <div class="space-x-4">
                <a class="text-gray-700 hover:text-blue-500" asp-area="" asp-controller="Home"
                   asp-action="Index">Home</a>
                <a class="text-gray-700 hover:text-blue-500" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="text-gray-700 hover:text-blue-500" asp-area="" asp-controller="Dashboard"
                   asp-action="GetUsers">Dashboard</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="text-red-600 hover:text-red-800" asp-action="Logout" asp-controller="Account">Logout</a>
                }
                else
                {
                    <a class="text-blue-600 hover:text-blue-800" asp-action="Login" asp-controller="Account">Login</a>
                }
            </div>
        </div>
    </nav>
</header>

<div class="container mx-auto px-4 py-6 mt-10 flex-grow">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="bg-gray-800 text-white py-6">
    <div class="container mx-auto text-center">
        &copy; 2024 - UserManagementApp - <a class="text-blue-400 hover:underline" asp-area="" asp-controller="Home"
                                             asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/toastr/js/toastr.min.js"></script>
<script src="~/lib/sweet-alert-2/js/sweetalert2.all.min.js"></script>
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
<script type="text/javascript">const appBaseUrl = "@appBaseUrl"</script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>