@model ResponseDto

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@{
    foreach (var error in Model.Errors)
    {
        <p>
            <strong>Error Code:</strong> <code>@error.Code</code>
        </p>
        <p>
            <strong>Error Message:</strong> <code>@error.Message</code>
        </p>
    }
}